/* ButtonComponent.css */
.button {
    padding: 5px 10px;
    border: none;
    background-color: var(--button-bg);
    color: #fff;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.button:hover {
    background-color: var(--button-hover);

}