.sidebar{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}
.sidebar-left{
    position: inherit;
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    background-color: transparent;
   
}
.sidebar-right{
    
    display: none;
    position: inherit;
    flex-direction: column;
    padding: var(--padding);
    background-color: transparent;
   border-left: var(--border);
    
}
.sidebar-right .navbar{
    
    display: flex;
    width: var(--navbar-width);
}

.sidebar-items{
    padding: 2px;
    cursor: pointer;
    margin-bottom: 5px;
}

.sidebar-items:hover{
border-radius: var(--border-radius);
padding: 2px;
    background-color: #ccc;
}

.active{
    background-color: #ccc;
    border-left: 2px solid var(--main-color);
    border-radius: var(--border-radius);
}