.ressources {
    position: relative;
    width: 100%;
    padding: var(--padding);
    border: var(--border);
}

.ressources div {
    padding-inline: 5px;
    background-color: var(--grey-color);
    margin-bottom: 5px;
}