table {
    position: relative;
    width: 100%;
    overflow-y: auto;
    /* border-spacing: 15px; */
    /* border-collapse: collapse; */


}


table th {
   
   
    text-transform: capitalize;
    color: var(--main-color);
    font-weight: 500;
    background-color: var(--grey-color);

   
}

table th,
table td {

    text-align: center;
border: none;
   padding-inline: var(--padding);
    border-bottom: var(--border);
    border-radius: 2px;

}

tbody>tr:hover {
    background-color: var(--grey-color);
    color: var(--main-color);
    cursor: pointer;

}

tbody>tr:focus {
    background-color: var(--main-color);
    color: white;

}