.header{
position: absolute;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
height: var(--header-height);
background-color: transparent;
box-shadow: var(--box-shadow);
}

.header-start{
    margin-left: 5px;
    padding: 5px;
}